<div class="col-xl-12">
  <div class="card shadow mb-4">
    <!-- Card Header -->
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">New Post</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <%= render 'form', cms_post: @cms_post %>
    </div>
  </div>
</div>
