{
    "Version": "2008-10-17",
    "Id": "Public objects policy",
    "Statement": [
        {
            "Sid": "readonly policy",
            "Effect": "Allow",
            "Principal": "*",
            "Action": "s3:GetObject",
            "Resource": "${bucket_arn}/*"
        }
    ]
}