# https://aws.amazon.com/premiumsupport/knowledge-center/ec2-memory-swap-file/

commands:
  00_swap_off:
    command: sudo swapoff -a
  01_remove_swap_file:
    command: sudo rm -f /swapfile
  02_create_swap_file:
    command: sudo dd if=/dev/zero of=/swapfile bs=1M count=1000
  03_chmod_swap_file:
    command: sudo chmod 600 /swapfile
  04_setup_swap_area:
    command: sudo mkswap /swapfile
  05_swap_on:
    command: sudo swapon /swapfile
