# for pdf to play out nicely

commands:
  000_pwd:
    command: pwd
  001_get_gs:
    command: "wget https://github.com/ArtifexSoftware/ghostpdl-downloads/releases/download/gs952/ghostscript-9.52.tar.gz"
    test: test ! -f .ghostscript
  002_extract_gs:
    command: "tar -xzf  ghostscript-9.52.tar.gz"
    test: test ! -f .ghostscript
  003_configure_gs:
    command: "cd ghostscript-9.52 && ./configure --prefix=/usr --enable-dynamic --disable-compile-inits --with-system-libtiff"
    test: test ! -f .ghostscript
  004_make_gs:
    command: "cd ghostscript-9.52 && make"
    test: test ! -f .ghostscript
  005_make_so:
    command: "cd ghostscript-9.52 && make so"
    test: test ! -f .ghostscript
  006_make_install_gs:
    command: "cd ghostscript-9.52 && make install"
    test: test ! -f .ghostscript
  007_chmod:
    command: "chmod go+w /usr/include/ghostscript/"
    test: test ! -f .ghostscript
  008_soinstall:
    command: "cd ghostscript-9.52 && make soinstall && install -v -m644 base/*.h /usr/include/ghostscript && ln -v -s ghostscript /usr/include/ps"
    test: test ! -f .ghostscript
  009_ln:
    command: "ln -sfv ../ghostscript/9.52/doc /usr/share/doc/ghostscript-9.52"
    test: test ! -f .ghostscript
  010_record:
    command: "touch .ghostscript"
