# for pdf to play out nicely

commands:
  01_fonts:
    command: "wget http://sourceforge.net/projects/gs-fonts/files/latest/download?source=files --output-document=ghostscript-fonts-std-8.11.tar.gz"
    test: test ! -f .ghostscript-font
  02_unzip_fonts:
    command: "tar -xvf ghostscript-fonts-std-8.11.tar.gz -C /usr/share/ghostscript"
    test: test ! -f .ghostscript-font
  03_fc_cache:
    command: "fc-cache -v /usr/share/ghostscript/fonts/"
    test: test ! -f .ghostscript-font
  04_mkdir:
    command: "mkdir -p /usr/include/ghostscript/"
    test: test ! -f .ghostscript-font
  05_chmod_again:
    command: "chmod go-w /usr/include/ghostscript/"
    test: test ! -f .ghostscript-font
  06_check_version:
    command: "gs -v"
    test: test ! -f .ghostscript-font
  07_record:
    command: "touch .ghostscript-font"
