.form-group
  - unless form.object.new_record?
    = form.label key, defined?(form_label) ? form_label : nil, class: 'small font-weight-bold'
  = form.text_field key, { placeholder: key.to_s.titlecase, data: { behavior: 'flatpickr' }, class: 'form-control' }.merge((defined? options) ? options : {})