.custom-control.custom-radio
  = form.radio_button key, value, class: 'custom-control-input', required: required
  label.custom-control-label id="label_#{form.object.class.name.downcase}_#{key}_#{value}" for="#{form.object.class.name.downcase}_#{key}_#{value}"= label