.form-group
  = form.label key, defined?(form_label) ? form_label : nil, class: 'small font-weight-bold'
  = form.select key, data, { prompt: "Select #{key.to_s.humanize.downcase}" }.merge!(defined?(options) ? options : {}), { class: 'form-control', data: { behavior: 'select2'} }.merge((defined? html) ? html : {})
