.form-group
  - unless form.object.new_record?
    = form.label key, class: 'small font-weight-bold'
  = form.text_area key, { placeholder: "Enter #{key.to_s}", class: 'form-control' }.merge((defined? options) ? options : {})