body
  font-family: 'Roboto', 'sans-serif'
  border-top: 5px solid black

table.w-100
  width: 100%

.left
  text-align: left
.right
  text-align: right

table
  text-align: center
  border-spacing: 0
  border: 0
  td,
  th
    border: 0
    padding: 5px
    vertical-align: top
  th
    font-weight: bold

#content
  margin-top: 10px

  .logo
    height: 200px
    text-align: center
  
  .details
    text-align: right
    p
      margin-bottom: 5px

  .summary
    table
      td
        text-align: left
      .label
        font-weight: bold
        text-align: right

  .items
    thead
      th
        border-bottom: 2px solid black
    tfooter
      td
        border-top: 2px solid black
    table
      width: 100%
      .description
        width: 60%
      .no-border
        border: none

  .issued-by
    table
      td
        text-align: left
      .label
        font-weight: bold
        text-align: right
        border: 0

#footer
  bottom: 0
  .name
    float: left
  .register-no
    text-align: right
  .remarks
    .header
      font-weight: bold
    .content
      padding-top: 10px
      p
        padding-bottom: 2px
