<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. Enter the code below to start changing your password:</p>

<p><%= @token %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
